<div class="form-group row">
  <div class="col-sm-3">
    <label for="contract" class="control-label">Contrato: </label>
    <div>
      <select id="contract" name="contract" class="form-control" ng-model="formData.contract" ng-options="contract._id as contract.contractNumber for contract in controls.contracts" ng-change="updateConfigServiceCodes()">
        <option value="" selected disabled>Seleccione</option>
      </select>
    </div>
  </div>
  
  <div class="col-sm-3">
    <label for="serviceType" class="control-label">Tipo de Servicio: </label>
    <div>
      <select name="serviceType" id="serviceType" class="form-control" placeholder="seleccione" ng-model="formData.serviceType" ng-change="updateConfigServiceCodes();">
        <option value="" selected disabled>Seleccione</option>
        <option value="{{servTp._id}}" ng-bind="servTp.name" ng-repeat="servTp in controls.contracts.findById(formData.contract, 'serviceType')"></option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <label for="zone" class="control-label">Zona: </label>
    <div>
      <select id="zone" name="zone" class="form-control" ng-model="formData.zone" ng-options="control._id as control.name for control in controls.contracts.findById(formData.contract, 'zones')" ng-change="updateConfigServiceCodes()">
        <option value="" selected disabled>Seleccione</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <label for="date" class="control-label">Fecha: </label>
    <div>
      <input id="date" type="date" class="form-control" ng-model="formData.date" ng-change="updateConfigServiceCodes()">
    </div>
  </div>
</div>
  
<div class="row form-group">
  <div class="col-sm-12">
    <table ng-table="tableParams" class="table table-bordered">
        <tr ng-repeat="service in $data">
            <td data-title="'Lote'" sortable="'configService.code'">
                {{service.configService.code}}
            </td>
            <td data-title="'Cuadrilla'" sortable="'team'">
                {{service.team.name}}
            </td>
            <td data-title="'Cantidad trabajada'" sortable="'quantity'">
                {{service.quantity}}
            </td>
            <td data-title="'Unidad'" sortable="'unit'">
                {{service.unit.name}}
            </td>
            <td data-title="'Estado'" sortable="'status'">
                {{service.status.name}}
            </td>
            <td data-title="'Opciones'">
              <div class="btn-group" role="group" aria-label="" ng-if="service.status.name == 'Programado'">
                <a href="" class="btn btn-danger" ng-click="removeScheduling(service._id)"><i class="fa fa-trash-o fa-fw"></i></a>
              </div>
            </td>
        </tr>
    </table>
  </div>
</div>

<div ng-show="formData.contract && formData.serviceType && formData.zone && formData.date">
  <form class="form-horizontal container-fluid" name="addSchedSvcForm" ng-submit="submitaddSched()" novalidate>
    <div class="form-group row">
      <div class="col-sm-1">
        <h2 ng-bind="percent + '%'"></h2>
      </div>
      <div class="col-sm-1">
        <label for="code" class="control-label" ng-hide="formData.serviceType == '5563efe645051764c2e3da13'">C&oacute;digo: </label>
        <label for="code" class="control-label" ng-show="formData.serviceType == '5563efe645051764c2e3da13'">Radicado: </label>
      </div>
      <div class="col-sm-3">
        <input id="code" class="form-control" type="text" typeahead-editable="false" typeahead-on-select="getServiceConfig(formData.code.code)" ng-model="formData.code" typeahead="code as code.code for code in controls.codes | filter:$viewValue | limitTo:8" required>
      </div>
      <div class="col-sm-1">
        <label for="team" class="control-label">Cuadrilla: </label>
      </div>
      <div class="col-sm-3">
        <select name="team" id="team" class="form-control" ng-model="formData.team" required>
          <option value="" selected disabled>Seleccione</option>
          <option value="{{team._id}}" ng-bind="team.name" ng-repeat="team in controls.teams"></option>
        </select>
      </div>      
      <div class="col-sm-3 text-center">
        <input class="btn btn-success" type="submit" value="Guardar Programaci&oacute;n">
        <input class="btn btn-warning" type="reset" value="Limpiar">
      </div>
    </div> 
  </form>
</div> 
<script type="text/ng-template" id="existingScheduledServiceModal">
    <div class="modal-header">
        <h3 class="modal-title">Serivicio duplicado</h3>
    </div>
    <div class="modal-body">
        <p class="text-center">El servicio con código <b>{{duplicateService.configService.code}}</b>,<br><span>ya se encuentra <b>PROGRAMADO</b> para la fecha <i>{{duplicateService.scheduledDate | date : 'mediumDate'}}</i></span>,<br>desea reemplazarlo?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="scheduleService()">Si</button>
        <button class="btn btn-warning" ng-click="cancelServiceScheduling()">No</button>
    </div>
  </script>
  <script type="text/ng-template" id="existingServiceModal">
    <div class="modal-header">
        <h3 class="modal-title">Serivicio duplicado</h3>
    </div>
    <div class="modal-body">
        <p class="text-center">El servicio con código <b>{{duplicateService.configService.code}}</b>,<br>
          <span ng-hide='duplicateService.approvedDate'>ya se encuentra <b>EJECUTADO</b> en la fecha: <i>{{duplicateService.executedDate | date : 'mediumDate'}}</i></span>
          <span ng-show='duplicateService.approvedDate'>ya se encuentra <b>APROBADO</b> en la fecha: <i>{{duplicateService.approvedDate | date : 'mediumDate'}}</i></span>.
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeExistingServiceModal()">Ok</button>
    </div>
  </script>