<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Monteverde</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/libs/libraries.min.css">
        <link rel="stylesheet" href="/stylesheets/monteverde.min.css">

    </head>
    <body ng-app="monteverde">

      <div class="container-fluid panel panel-default main-app">

        <header class="row">

          <div class="col-sm-2">
            <div class="navbar-text navbar-left">
              <img src="data:application/octet-stream;base64,R0lGODdhyADIAOMAAMzMzJaWlrGxsZycnKOjo6qqqre3t76+vsXFxQAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAAyADIAAAE/hDISau9OOvNu/9gKI5kaZ5oqq5s675wLM90bd94ru987//AoHBILBqPyKRyyWw6n9CodEqtWq/YrHbL7Xq/4LB4TC6bz+i0es1uu9/wuHxOr9vv+Lx+z+/7/4CBgoOEhYaHiImKi4yNjo+QkZKTlJWWl5iZmpucnZ6foKGio6SlpqeoqaqrrK2ur7CxsrO0tba3uLm6u7y9vr/AwcLDxMXGx8jJysvMzc7P0NGZAgMBAwIWBtXX2dvYKtTW3xTa4t3mhQQB6+sFFALs6+MA8PHzJerx7hP17PP98ggZCFjvgAQE7QAUWIfgYMKFARqaGBgAW0GHAdxBlIgwo0KG/oO07QMQkN66CSXroax4QuTKbyolpDwpk+Whjt/UEZigU0JPnwF2XmBXMwAHnECFAvj5c2lQRPkkVhu5cICEqROqYmBngKLRDVGvepSgFQBWstYO1RtZ0uTXtjEvLCwwl8Pal/xowqUpcJ1VvBJi7v16oSNIDRT/1hwn2KbbQgf8Slyc963juHITaohsbTLJy3pBExZULYBBCmc//k1dFgNFAxtKn57AOq3ZsaoJ1YNdoSnTp0k1lFZ8YbcF38CRKwXUceQ7vjMJt80WVB1vC82LQ7cZd/qfep4nZN+IUePhC9W62rYAvvDDw+PPAyodbzRAx279bSX6eTTt+nzlfzfdfff8QV88FYTDTYLeZMDOPhChB6B/ChZYoTQYZqjhhhx26OGHIIYo4ogklmjiiSimqOKKLLbo4oswxijjjDTWaOONOOao44489ujjj0AGKeSQRBZp5JFIJqnkkkw26eSTUEYp5ZRUVmnllVhmqeWWXHbp5ZdghinmmGQ6EgEAOw==" alt="logo">
            </div>
          </div>

          <div class="col-sm-10">
            <h1>Monteverde</h1>
          </div>

        </header>

        <div class="row ">

          <div class="col-sm-10">
            <span class="navbar-text navbar-left">Usuario: {{user}}</span>
          </div>
          <div class="col-sm-2">
            <a href="#" class="btn btn-default">Cerrar Sesi&oacute;n</a>
          </div>
        
        </div>
        <div class="row ">

          <div class="col-sm-12">
            <div class="alert alert-success" role="alert">
              sucesful dummy message 
            </div>
          </div>  
        </div>  
          
        <div class="row ">           
            <nav class="col-sm-2">
              <ul class="nav btn-group-vertical">
                <li class="btn btn-default"><a href="/#/createSvc">Crear Servicio</a></li>
                <li class="btn btn-default"><a href="/#/reportSvc">Reportar Servicio</a></li>
                <li class="btn btn-default"><a href="/#/runtSvc">Ejecutar Servicio</a></li>
                <li class="btn btn-default"><a href="/#/scheduleSvc">Programar Servicio</a></li>
              </ul>
            </nav>

            <div class="col-sm-10">
              <div class="container-fluid">
                <div class="row" ui-view >
                  {{{body}}}
                </div>
              </div>
            </div>
        </div>
      </div>

      <script src="/javascripts/vendors/libraries.js"></script>
      <script src="/javascripts/all.min.js"></script>
    </body>
</html>


