<div class="container-fluid">
  <div class="form-group row">
    <label for="contract" class="control-label col-sm-1">Contrato: </label>
    <div class="col-sm-2">
      <select name="contract" class="form-control" ng-model="formData.contract" 
        ng-options="contract._id as contract.contractNumber for contract in controls.contracts"
        ng-change="loadtabledata()">
        <option value="" selected disabled>Seleccione</option>
      </select>
    </div>

    <label for="serviceType" class="control-label col-sm-1 double-line">Tipo de Servicio: </label>
    <div class="col-sm-2">
      <select name="serviceType" id="serviceType" class="form-control" placeholder="seleccione" ng-model="formData.serviceType" ng-change="loadtabledata()">
        <option value="" selected disabled>Seleccione</option>
        <option value="{{servTp._id}}" ng-bind="servTp.name" ng-repeat="servTp in controls.contracts.findById(formData.contract, 'serviceType')"></option>
      </select>
    </div>

    <label for="zone" class="control-label col-sm-1">Zona: </label>
    <div class="col-sm-2">
      <select name="zone" class="form-control" ng-model="formData.zone" ng-options="control._id as control.name for control in controls.zones" ng-change="loadtabledata()">
        <option value="" selected disabled>Seleccione</option>
      </select>
    </div>

    <div class="col-sm-3">
      <label for="startDate" class="control-label">Fecha Inicio: </label>
      <div>
        <input id="startDate" type="date" class="form-control" ng-model="formData.startDate" ng-change="loadtabledata()">
      </div>
      <label for="endDate" class="control-label">Fecha Fin: </label>
      <div>
        <input id="endDate" type="date" class="form-control" ng-model="formData.endDate" ng-change="loadtabledata()">
      </div>
    </div>
  </div> 
  <br/>
  <br/>
  <div class="row">
    <div class="form-inline col-sm-8">
      <label for="filter" class="control-label col-sm-1">Filtro:</label>
      <input id="filter" class="form-control col-sm-7" type="text" ng-model="filter.$"></input>
    </div>
    <div class="form-group col-sm-4 text-right">
      <a class="btn btn-success" ng-href="" title="Aprobar" ng-click='approveServices()'>
        <i class="fa fa-thumbs-o-up fa-fw"></i>
      </a>
      <a class="btn btn-danger" ng-href="" title="Desaprobar" ng-click='disapproveServices()'>
        <i class="fa fa-thumbs-o-down fa-fw"></i>
      </a>
      <a class="btn btn-info" ng-mousedown="csv.generate()" ng-href="{{ csv.link() }}" download="servicios.csv" title="Exportar">
        <i class="fa fa-list-alt fa-fw"></i>
      </a>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <table ng-table="tableParams" show-filter="true" class="table table-bordered" export-csv="csv">
        <tr ng-repeat="service in $data">
          <td data-title="'Lote'" sortable="'configService.code'">
              {{service.configService.code}}
          </td>
          <td data-title="'Nombre'" sortable="'contract.client.contacts[0].name'">
              {{service.contract.client.contacts[0].name}}
          </td>
          <td data-title="'Dirección'" sortable="'configService.location'">
              {{service.configService.location}}
          </td>
          <td data-title="'Teléfono'" sortable="'contract.client.contacts[0].phone'">
              {{service.contract.client.contacts[0].phone}}
          </td>
          <td data-title="'Fecha de Programación'" sortable="'scheduledDate'">
              {{ service.scheduledDate | date : 'fullDate'}}
          </td>
          <td data-title="'Fecha de Ejecución'" sortable="'executedDate'">
              {{ service.executedDate | date : 'fullDate'}}
          </td>
          <td data-title="'Fecha de Aprobación'" sortable="'approvedDate'">
              {{ service.approvedDate | date : 'fullDate'}}
          </td>
          <td data-title="'Cantidad Ejecutada'" sortable="'quantity'">
              {{service.quantity}}
          </td>
          <td data-title="'Unidad'" sortable="'unit.name'">
              {{service.unit.name}}
          </td>
          <!-- <td data-title="'Especie'" sortable="'specie'">
              {{service.configService.specie}}
          </td>
          <td data-title="'Tarea'" sortable="'task'">
              {{service.task}}
          </td> -->
          <td data-title="'Fotos de Respaldo'">
              <span ng-repeat="photo in service.photos">{{photo.name}}<br/></span> <!-- ng-click="open(photo.identifier)">{{photo.name}}<br/></a> -->
          </td>
          <td data-title="'Status'" sortable="'status.name'">
              {{service.status.name}}
          </td>
          <td data-title="'Observaciones'" sortable="'description'">
              {{service.description}}
          </td>
          <td width="30" style="text-align: left" header="'ng-table/headers/checkbox.html'">
            <input type="checkbox" ng-model="checkboxes.items[service._id]" ng-hide="isApprovedOrDisapproved(service.status._id)"/>
          </td>
        </tr>
      </table>
      <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
      </script>
    </div>
  </div>
</div>  
