<div class="form-group row">
  <div class="col-sm-3">
    <label for="contract" class="control-label">Contrato: </label>
    <div>
      <select id="contract" name="contract" class="form-control" ng-model="formData.contract" ng-options="contract._id as contract.contractNumber for contract in controls.contracts" ng-change="updateCodes()">
        <option value="" selected disabled>Seleccione</option>
      </select>
    </div>
  </div>
  
  <div class="col-sm-3">
    <label for="serviceType" class="control-label">Tipo de Servicio: </label>
    <div>
      <select name="serviceType" id="serviceType" class="form-control" placeholder="seleccione" ng-model="formData.serviceType" ng-change="updateCodes(); clearOnServiceTypeChange(formData.serviceType)">
        <option value="" selected disabled>Seleccione</option>
        <option value="{{servTp._id}}" ng-bind="servTp.name" ng-repeat="servTp in controls.contracts.findById(formData.contract, 'serviceType')"></option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <label for="zone" class="control-label">Zona: </label>
    <div>
      <select id="zone" name="zone" class="form-control" ng-model="formData.zone" ng-options="control._id as control.name for control in controls.contracts.findById(formData.contract, 'zones')" ng-change="updateCodes()">
        <option value="" selected disabled>Seleccione</option>
      </select>
    </div>
  </div>

  <div class="col-sm-3">
    <label for="date" class="control-label">Fecha: </label>
    <div>
      <input id="date" type="date" class="form-control" ng-model="formData.date" ng-change="updateCodes()">
    </div>
  </div>
</div>      
  
<div class="row form-group">
  <div class="col-sm-12">
    <table ng-table="tableParams" class="table table-bordered">
        <tr ng-repeat="service in $data">
            <td data-title="'Lote'" sortable="'field'">
                {{service.field}}
            </td>
            <td data-title="'Cuadrilla'" sortable="'team'">
                {{service.team}}
            </td>
            <td data-title="'Cantidad trabajada'" sortable="'quantity'">
                {{service.quantity}}
            </td>
            <td data-title="'Unidad'" sortable="'unit'">
                {{service.unit}}
            </td>
            <td data-title="'Camion'" sortable="'vehicle'">
                {{service.vehicle}}
            </td>
            <td data-title="'Nro de viajes'" sortable="'trips'">
                {{service.trips}}
            </td>
            <td data-title="'Estado'" sortable="'status'">
                {{service.status}}
            </td>
            <td data-title="'Opciones'">
              <div class="btn-group" role="group" aria-label="" ng-if="service.status != 'Aprobado'">
                <a ng-if="!service.$edit" href="" class="btn btn-primary" ng-click="editExecution(service._id); service.$edit = true"><i class="fa fa-pencil fa-fw"></i></a>
                <a ng-if="service.$edit"  href="" class="btn btn-warning" ng-click="editCancel(); service.$edit = false"><i class="fa fa-times-circle fafw"></i></a>
                <a ng-if="!service.$edit" href="" class="btn btn-danger" ng-click="removeExecution($index, service._id)"><i class="fa fa-trash-o fa-fw"></i></a>
              </div>
            </td>
        </tr>
    </table>
  </div>
</div>

<div ng-show="formData.contract && formData.serviceType && formData.zone && formData.date">
  
  <form class="form-horizontal container-fluid" name="addExecSvcForm" ng-submit="submitaddExec()" novalidate>
    <div class="form-group row">
      <label for="code" class="control-label col-sm-2 double-line" ng-hide="formData.serviceType == '5563efe645051764c2e3da13'">C&oacute;digo: </label>
      <label for="code" class="control-label col-sm-2 double-line" ng-show="formData.serviceType == '5563efe645051764c2e3da13'">Radicado: </label>
      <div class="col-sm-4">
        <input id="code" class="form-control" type="text" typeahead-editable="false" typeahead-on-select="getServiceConfig(formData.code.code)" ng-model="formData.code" typeahead="code as code.code for code in controls.codes | filter:$viewValue | limitTo:8" required>
      </div>

      <label for="team" class="control-label col-sm-2">Cuadrilla: </label>
      <div class="col-sm-4">
        <select name="team" id="team" class="form-control" ng-model="formData.team" required>
          <option value="" selected disabled>Seleccione</option>
          <option value="{{team._id}}" ng-bind="team.name" ng-repeat="team in controls.teams"></option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label double-line col-sm-2">Cantidad trabajada: </label>
      <span class="control-label col-sm-4" ng-bind="formData.doneQuantity"></span>

      <label for="unity" class="control-label col-sm-2">Unidad: </label>
      <div class="col-sm-4">
        <select id="unity" class="form-control" ng-model="formData.unit" ng-options="unit._id as unit.name for unit in controls.units" required>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-2">Veh&iacute;culo: </label>
      <div class="col-sm-4">
        <input class="form-control" id="vehicle" type="text" typeahead-editable="false" typeahead-on-select="calculateWork()" ng-change="calculateWork()" ng-model="formData.vehicle" placeholder="Vehiculo" typeahead="vehicle as vehicle.plate for vehicle in controls.vehicles | filter:{plate:$viewValue}">
      </div>    

      <label class="control-label col-sm-2">Viajes: </label>
      <div class="col-sm-4">
        <input class="form-control" type="number" ng-model="formData.tripsNumber" ng-change="calculateWork()">
      </div>    
    </div>
    
    <div class="form-group row"  
          flow-init="uploader" 
          flow-name="images.flow" 
          flow-complete="uploader.controllerFn($flow, $file, $message)"
          >
      <div class="col-sm-6">
        <label for="observations" class="control-label">Descripci&oacute;n: </label>
        <textarea id="observations" class="form-control" cols="30" rows="5" ng-model="formData.observations" required></textarea>
      </div>

      <div class="col-sm-2">
        <!-- <button type="button" ng-click="upld()">subir</button> -->
        <!-- <button type="button" ng-click="upload()">subir directo</button>   -->
        <label for="observations" class="control-label">Im&aacute;genes: </label>
        <div class="alert drop-area" flow-drag-enter="dropping='bg-warning'" flow-drag-leave="dropping=''" ng-class="dropping" flow-drop>
            Arrastre y suelte las imagenes ac&aacute; 
        </div>

        <input type="file" flow-btn />
      </div>

      <div class="col-sm-2">
        <table class="table table table-bordered table-fixed">
          
          <tr  ng-repeat="img in savedImages">
            <td><a class="font-sm" href="" ng-click="open(img)">{{img.name}}</a></td>
            <td class="options"><a href="" ng-click="cancel(img)" class="badge"><i class="fa fa-times"></i></a></td>
          </tr>
          
          <tr  ng-repeat="img in $flow.files">
            <td><a class="font-sm" href="" ng-click="open(img)">{{img.name}}</a></td>
            <td class="options"><a href="" ng-click="cancel(img)" class="badge"><i class="fa fa-times"></i></a></td>
          </tr>
        </table>
      </div>
      
      <div class="col-sm-2">
        <h2 ng-bind="percent + '%'"></h2>
      </div>
    </div>
      
    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <input class="btn btn-success" type="submit" value="Guardar Ejecucion">
        <input class="btn btn-warning" type="reset" value="Limpiar">
      </div>
    </div>   

  </form>
  <script type="text/ng-template" id="existingServiceModal">
    <div class="modal-header">
        <h3 class="modal-title">Serivicio duplicado</h3>
    </div>
    <div class="modal-body">
        <p class="text-center">El servicio con código <b>{{duplicateService.configService.code}}</b>,<br><span ng-hide="duplicateService.executedDate">ya se encuentra <b>PROGRAMADO</b> para la fecha <i>{{duplicateService.scheduledDate | date : 'mediumDate'}}</i></span> <span ng-show="duplicateService.executedDate">ya se encuentra <b>EJECUTADO</b> en la fecha <i>{{duplicateService.executedDate | date : 'mediumDate'}}</i></span>,<br>desea reemplazarlo?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="executeService()">Si</button>
        <button class="btn btn-warning" ng-click="cancelServiceExecution()">No</button>
    </div>
  </script>
  <script type="text/ng-template" id="existingApprovedServiceModal">
    <div class="modal-header">
        <h3 class="modal-title">Serivicio duplicado Aprobado</h3>
    </div>
    <div class="modal-body">
        <p class="text-center">El servicio con código <b>{{duplicateService.configService.code}}</b>,<br/>ejecutado en la fecha: <i>{{duplicateService.executedDate | date : 'mediumDate'}}</i>,<br/>ya se encuentra <b>APROBADO</b> en la fecha: <i>{{duplicateService.approvedDate | date : 'mediumDate'}}</i>.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="closeExistingApprovedServiceModal()">Ok</button>
    </div>
  </script>
</div>