<div class="form-group row">
  <label for="contract" class="control-label col-sm-1">Contrato: </label>
  <div class="col-sm-2">
    <select name="contract" class="form-control" ng-model="formData.contract" ng-options="contract._id as contract.contractNumber for contract in controls.contracts" ng-change="updateCodes()">
      <option value="" selected disabled>Seleccione</option>
    </select>
  </div>

  <label for="serviceType" class="control-label col-sm-1 double-line">Tipo de Servicio: </label>
  <div class="col-sm-2">
    <select name="serviceType" id="serviceType" class="form-control" placeholder="seleccione" ng-model="formData.serviceType" ng-change="updateCodes(); clearOnServiceTypeChange()">
      <option value="" selected disabled>Seleccione</option>
      <option value="{{servTp._id}}" ng-bind="servTp.name" ng-repeat="servTp in controls.contracts.findById(formData.contract, 'serviceType')"></option>
    </select>
  </div>

  <label for="zone" class="control-label col-sm-1">Zona: </label>
  <div class="col-sm-2">
    <select name="zone" class="form-control" ng-model="formData.zone" ng-options="control._id as control.name for control in controls.zones" ng-change="updateCodes()">
      <option value="" selected disabled>Seleccione</option>
    </select>
  </div>

  <label for="zone" class="control-label col-sm-1">Fecha: </label>
  <div class="col-sm-2">
    <input type="date" class="form-control" ng-model="formData.date" ng-change="updateCodes()">
  </div>
</div>      
  
<div class="row form-group">
  <div class="col-sm-12">
    <table ng-table="tableParams" class="table table-bordered">
        <tr ng-repeat="service in $data">
            <td data-title="'Lote'" sortable="'vehicle'">
                {{service.field}}
            </td>
            <td data-title="'Cuadrilla'" sortable="'team'">
                {{service.team}}
            </td>
            <td data-title="'Cantidad trabajada'" sortable="'quantity'">
                {{service.quantity}}
            </td>
            <td data-title="'Unidad'" sortable="'unit'">
                {{service.unit}}
            </td>
            <td data-title="'Camion'" sortable="'vehicle'">
                {{service.vehicle}}
            </td>
            <td data-title="'Nro de viajes'" sortable="'trips'">
                {{service.trips}}
            </td>
            <td data-title="'Estado'" sortable="'state'">
                {{service.status}}
            </td>
            <td data-title="'Opciones'">
              <div class="btn-group" role="group" aria-label="" ng-if="service.status != 'Ejecutado'">
                <a ng-if="!service.$edit" href="" class="btn btn-primary" ng-click="editExecution($index); service.$edit = true"><i class="fa fa-pencil fa-fw"></i></a>
                <a ng-if="service.$edit"  href="" class="btn btn-warning" ng-click="editCancel(); service.$edit = false"><i class="fa fa-times-circle fafw"></i></a>
                <a ng-if="!service.$edit" href="" class="btn btn-danger"  ng-click="removeExecution($index, service._id)"><i class="fa fa-trash-o fa-fw"></i></a>
            </td>                
              </div>  
              </div>                 
            </td>
        </tr>
    </table>
  </div>
</div>

<div ng-show="formData.contract && formData.serviceType && formData.zone && formData.date">
  
  <form class="form-horizontal container-fluid" name="addExecSvcForm" ng-submit="submitaddExec()" novalidate>
    <div class="form-group row">
      <label for="code" class="control-label col-sm-1 double-line">C&oacute;digo / Radicado: </label>
      <div class="col-sm-1">
        <input class="form-control" type="text" typeahead-on-select="getServiceConfig(formData.code.code)" ng-model="formData.code" typeahead="code as code.code for code in controls.codes | filter:$viewValue | limitTo:8" required>
      </div>

      <label for="team" class="control-label col-sm-1">Cuadrilla: </label>
      <div class="col-sm-1">
        <select name="team" id="team" class="form-control" ng-model="formData.team" required>
          <option value="" selected disabled>Seleccione</option>
          <option value="{{team._id}}" ng-bind="team.name" ng-repeat="team in controls.teams"></option>
        </select>
      </div>

      <label class="control-label double-line col-sm-1">Cantidad trabajada: </label>
      <span class="control-label col-sm-1" ng-bind="formData.doneQuantity"></span>

      <label for="unity" class="control-label col-sm-1">Unidad: </label>
      <div class="col-sm-1">
        <select class="form-control" ng-model="formData.unit" ng-options="unit._id as unit.name for unit in controls.units" required>
        </select>
      </div>

      <label class="control-label col-sm-1">Veh&iacute;culo: </label>
      <div class="col-sm-1">
        <input class="form-control" type="text" typeahead-on-select="calculateWork()" ng-model="formData.vehicle" placeholder="Vehiculo" typeahead="vehicle as vehicle.plate for vehicle in controls.vehicles | filter:{plate:$viewValue}" required>
      </div>    

      <label class="control-label col-sm-1">Viajes: </label>
      <div class="col-sm-1">
        <input class="form-control" type="number" ng-model="formData.tripsNumber" ng-change="calculateWork()" required>
      </div>    
    </div>
    
    <div class="form-group row"  flow-init="uploader" flow-name="images.flow">
      <div class="col-sm-4">
        <label for="observations" class="control-label">Descripci&oacute;n: </label>
        <textarea class="form-control" cols="30" rows="5" ng-model="formData.observations" required></textarea>
      </div>

      <div class="col-sm-2">
        <label for="observations" class="control-label">Im&aacute;genes: </label>
        <div class="alert drop-area" flow-drag-enter="dropping='bg-warning'" flow-drag-leave="dropping=''" ng-class="dropping" flow-drop>
            Arrastre y suelte las imagenes ac&aacute;a 
        </div>

        <input type="file" flow-btn />
      </div>

      <div class="col-sm-3">
        <!-- <button type="button" ng-click="upload()">subir</button>   -->
        <table class="table table table-bordered table-fixed">
          <tr  ng-repeat="img in $flow.files">
            <td><a class="font-sm" href="" ng-click="open(img)">{{img.name}}</a></td>
            <td class="options"><a href="" ng-click="cancel(img)" class="badge"><i class="fa fa-times"></i></a></td>
          </tr>
        </table>
      </div>
      
      <div class="col-sm-3">
        <h2 ng-bind="percent + '%'"></h2>
      </div>
    </div>
      
    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <input class="btn btn-success" type="submit" value="Guardar Ejecucion">
        <input class="btn btn-warning" type="reset" value="Limpiar">
      </div>
    </div>   

  </form>
</div>