<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <img src="http://placehold.it/200x200" alt="logo">
    </div>  
    <div class="col-sm-10">
      <h1>Monteverde</h1>
    </div>  
  </div>
  <div class="row">
    <div class="col-sm-12">
      User Area
    </div>  
  </div>
  <div class="row">

    <div class="col-sm-12">
      Messages
    </div>  
    
    <div class="col-sm-12">
      <nav class="col-sm-4" style="background-color:lavender;">Nav Area</nav>
      <div class="col-sm-8" style="background-color:lavenderblush;">View Area</div>
    </div>
  </div>
</div>