<div class="row">
  <form action="" class="form-horizontal">
    <div class="form-group">
      <label for="code" class="control-label col-sm-1">C&oacute;digo: </label>
      <div class="col-sm-1">
        <input class="form-control" type="text" id="code" name="code">
      </div>

      <label for="contract" class="control-label col-sm-1">Contrato: </label>
      <div class="col-sm-2">
        <select name="contract" id="contract" class="form-control">
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
        </select>
      </div>

      <label for="serviceType" class="control-label double-line col-sm-1">Tipo de Servicio: </label>
      <div class="col-sm-2">
        <select name="serviceType" id="serviceType" class="form-control">
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
        </select>
      </div>

      <label for="zone" class="control-label col-sm-1">Zona: </label>
      <div class="col-sm-2">
        <select name="zone" id="zone" class="form-control">
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="radic" class="control-label col-sm-1">Radicado: </label>
      <div class="col-sm-1">
        <input class="form-control" type="text" id="radic" name="radic">
      </div>

      <label for="kindOfJob" class="control-label double-line col-sm-1">Tipo de Trabajo: </label>
      <div class="col-sm-2">
        <select name="kindOfJob" id="kindOfJob" class="form-control">
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
          <option value="">Cxxxxx</option>
        </select>
      </div>

      <label for="specie" class="control-label col-sm-1">Especie: </label>
      <div class="col-sm-2">
        <input class="form-control" type="text" id="specie" name="specie">
      </div>

      <label for="area" class="control-label col-sm-1">Area: </label>
      <div class="col-sm-2">
        <input class="form-control" type="text" id="area" name="area">
      </div>

      <div class="form-group">

      </div>

      <div class="form-group">
        <label for="unity" class="control-label col-sm-1">Unidad: </label>
        <div class="col-sm-2">
          <select name="unity" id="unity" class="form-control">
            <option value="">Cxxxxx</option>
            <option value="">Cxxxxx</option>
            <option value="">Cxxxxx</option>
          </select>
        </div>

        <label for="active" class="control-label col-sm-1">Activo: </label>
        <div class="col-sm-3">
          <input class="form-control" type="checkbox" id="active" name="active">
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="sname" class="control-label col-sm-1">Nombre: </label>
      <div class="col-sm-3">
        <input class="form-control" type="text" id="sname" name="sname">
      </div>

      <label for="address" class="control-label col-sm-1">Dirección: </label>
      <div class="col-sm-3">
        <input class="form-control" type="text" id="address" name="address">
      </div>

      <label for="telephone" class="control-label col-sm-1">T&eacute;lefono: </label>
      <div class="col-sm-2">
        <input class="form-control" type="text" id="telephone" name="telephone">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6">
        <input class="form-control" type="submit" value="Guardar">
      </div>

      <div class="col-sm-6">
        <input class="form-control" type="reset" value="Cancelar">
      </div>      
    </div>
  </form>
</div>
