<form class="form-horizontal container-fluid" name="createSvcForm" ng-submit="createSvcForm.$valid && createSvc.submitcreateSvc()">
  <div class="form-group row">

    <label for="contract" class="control-label col-sm-1">Contrato: </label>
    <div class="col-sm-2">
      <select name="contract" id="contract" class="form-control" ng-model="formData.mContract" ng-change="updateContractType(formData.mContract)">
        <option value="" selected disabled>Seleccione</option>
        <option value="{{$index + ':' + contract._id}}" ng-bind="contract.contractNumber"   ng-repeat="contract in controls.contracts"></option>
      </select>
    </div>

    <label for="serviceType" class="control-label col-sm-2">Tipo de Servicio: </label>
    <div class="col-sm-2">
      <select name="serviceType" id="serviceType" class="form-control" placeholder="seleccione" ng-model="formData.serviceType">
        <option value="" selected disabled>Seleccione</option>
        <option value="{{servTp._id}}" ng-bind="servTp.name"   ng-repeat="servTp in controls.serviceTypes"></option>
      </select>
    </div>

    <label for="zone" class="control-label col-sm-2">Zona: </label>
    <div class="col-sm-2">
      <select name="zone" id="zone" class="form-control" ng-model="formData.zone">
        <option value="{{zone._id}}" ng-bind="zone.name" ng-repeat="zone in controls.zones"></option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="code" class="control-label col-sm-1 double-line">C&oacute;digo / Radicado: </label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="code" name="code" ng-model="formData.code">
    </div>

    <label for="team" class="control-label col-sm-2">Cuadrilla: </label>
    <div class="col-sm-2">
      <select name="team" id="team" class="form-control" ng-model="formData.team">
        <option value="" selected disabled>Seleccione</option>
        <option value="{{team._id}}" ng-bind="team.name" ng-repeat="team in controls.teams"></option>
      </select>
    </div>

    <div ng-if="formData.serviceType == '5563efe645051764c2e3da13'">
      <label for="envAuth" class="control-label col-sm-2">Autoridad Ambiental: </label>
      <div class="col-sm-2">
          <select class="form-control" ng-model="formData.envAuth">
            <option value="" selected disabled>Seleccione</option>
            <option value="{{envAuth._id}}" ng-bind="envAuth.name" ng-repeat="envAuth in controls.envAuths"></option>
          </select>
      </div>
    </div>

    <div ng-if="formData.serviceType == '5563efda45051764c2e3da12'">
      <label for="area" class="control-label col-sm-2">Area: </label>
      <div class="col-sm-2">
        <input class="form-control" type="text" id="area" name="area" ng-model="formData.area">
      </div>
    </div>

  </div>

  <div class="form-group row">
  </div>

  <div class="form-group row">
    <label for="address" class="control-label col-sm-1">Dirección: </label>
    <div class="col-sm-3">
      <input class="form-control" type="text" id="address" name="address" ng-model="formData.address">
    </div>

    <label for="telephone" class="control-label col-sm-1">T&eacute;lefono: </label>
    <div class="col-sm-2">
      <input class="form-control" type="text" id="telephone" name="telephone" ng-model="formData.telephone">
    </div>

    <label for="unity" class="control-label col-sm-2">Unidad: </label>
    <div class="col-sm-2">
      <select name="unit" id="unit" class="form-control" ng-model="formData.units">
        <option value="" selected disabled>Seleccione</option>
        <option value="{{unit._id}}" ng-bind="unit.name" ng-repeat="unit in controls.units"></option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label for="description" class="control-label col-sm-1">Descripci&oacute;n: </label>
    <div class="col-sm-6">
      <textarea name="description" id="description" class="form-control col-sm-4" cols="30" rows="5" ng-model="formData.description"></textarea>
    </div>

    <label for="active" class="control-label col-sm-1">Activo: </label>
    <div class="col-sm-3">
      <switch id="active" name="active" ng-model="formData.act" class="green small"></switch>
    </div>
  </div>

  <div class="form-group row" ng-if="formData.serviceType == '5563efe645051764c2e3da13'">
    <button type="button" ng-click="addSpecie()">Agregar Especie</button>  
    <table ng-table="tableParams" class="table table-bordered table-striped">
      <thead>
          <tr>
            <th class="col-sm-4">Especie</th>
            <th class="col-sm-4">Tarea</th>
            <th class="col-sm-2">Cantidad</th>
            <th class="col-sm-2">Opciones</th>
          </tr>
        </thead>  
        <tr ng-repeat="specie in $data">
            <td data-title="'Especie'">
                <span  ng-show="!specie.edit">{{specie.kind.name}}</span> 
 
                <div ng-show="specie.edit">
                  <select class="form-control" ng-model="specieList" ng-change="SetupEspecie(specie.kind, specieList)" value="{specie.kind._id}}">
                    <option value="" selected disabled>Seleccione</option>
                    <option value="{{specieItem._id + ':' + specieItem.name}}" ng-bind="specieItem.name"   ng-repeat="specieItem in controls.species"></option>
                  </select>
                </div>
            </td>
            <td data-title="'Tarea'">
                <span ng-show="!specie.edit">{{specie.task.name}}</span>

                <div ng-show="specie.edit">
                  <select class="form-control" ng-model="taskList" ng-change="SetupEspecie(specie.task, taskList)">
                    <option value="" selected disabled>Seleccione</option>
                    <option value="{{task._id + ':' + task.name}}" ng-bind="task.name"   ng-repeat="task in controls.tasks"></option>
                  </select>
                </div>
            </td>
            <td data-title="'Cantidad'">
                <span ng-if="!specie.edit">{{specie.quantity}}</span>
                <div ng-if="specie.edit"><input class="form-control" type="number" ng-model="specie.quantity" /></div>
            </td>
            <td data-title="'Opciones'" class="col-sm-2">
              <div class="btn-group" role="group" aria-label="">
                <a ng-if="!specie.edit" href="" class="btn btn-primary" ng-click="specie.edit = true"><i class="fa fa-pencil fa-fw"></i></a>
                <a ng-if="!specie.edit" href="" class="btn btn-danger" ng-click="removeSpecie($index)"><i class="fa fa-trash-o fa-fw"></i></a>
                <a ng-if="specie.edit" href="" class="btn btn-success   " ng-click="specie.edit = false"><i class="fa fa-floppy-o fafw"></i></a>
              </div>  
            </td>
        </tr>
    </table>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-center">
      <input class="btn btn-primary" type="submit" value="Guardar">
      <input class="btn btn-warning" type="reset" value="Cancelar">
    </div>
  </div>
</form>
