.main-app {
  margin: 2%;
}

.rounded-gray {
  border: 1px solid $borderColor;
  &.top {
    border-radius: $roundedTop;
  }
  &.bottom {
    border-radius: $roundedBottom;
  }
}

.control-label.double-line {
  line-height: 1.3;
  padding-top: 0;
}

.switch {
  font-size: 24px;
}

input[type="checkbox"] {
  -webkit-appearance:checkbox;
}
.pagination {
  &.ng-table-pagination {
    margin: 0;
  }
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    resize: none;
}

.drop-area {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
}

.font-sm {
  font-size : 10px;
  white-space: nowrap;
}

// tables
.table-fixed {
  table-layout: fixed;
  td {
    text-overflow: ellipsis;
    overflow: hidden;
    &.options {
      width: 40px;
    }
  }
}

// errors
input, select {
  &.ng-dirty.ng-invalid {
    box-shadow: 0px 0px 5px 0px #f00;
    border: none;
  }
}

//alerts
.alert {
  &.destroyed {
    opacity: 0;
  }
  transition: opacity 500ms ease-out;
}